.descarga-app{
  color: black;
}

#container1{
  height: 500px !important;
}

.content-wrapper{
  margin-left: 25%;
  border-style: outset;
  align-items: center;
  display: flex;
  height: 50px;
  width: 50%;
}

.fas, .far {
  font-size: 40px;
  margin-left: 5px;
  margin-right: 5px;
  width: 50px;
  text-align: center;
}