.table{
  width: 95%;
}

.row{
  margin-left: 4%;
}

.btn{
  margin-left: 10px;
}

.panel-body table td.no-borders{
  border: 1px solid RGB(248,250,252);
  background-color: RGB(248,250,252);
}

.wrapper{
  min-height: 40rem !important;
}