.foot-rights{
  margin: 1%;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30;
}


hr {
  margin-right: 2%;
  margin-left: 2%;
 }

 * {
  margin: 0;
}
html, body {
  height: 90% !important;
}
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -20px !important; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
  font-size: 12px;
  height: 20px !important; /* .push must be the same height as .footer */
  max-width: 1300px;
  margin: 0 auto;
}
 .newsColumn {
  max-width: 860px;
  margin: 0 auto;
 }