html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.full-height {
    min-height: 82%;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
    margin-top: 20px;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

.card {
    background-color: RGB(250, 247, 245);
    text-align: center;
    display: inline-block;
    width: 310px;
    height: 400px;
    vertical-align: top;
    border-style: outset;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.card-img-top {
    width: 300px;
}

.content {
    height: 86%;
    text-align: left;
    margin-left: 2%;
}

.row {
    height: 30%;
    vertical-align: top;
}

.img-responsive {
    display: block;
    padding-left: 130px;
}

.foot-rights{
  margin: 1%;
}

a {
  font-family: Arial;
}